*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contenedor{
    max-width: 1200px;
    height: 100vh;
    border: solid 1px whitesmoke;
    margin: 0 auto;
    background: rgb(81, 6, 255);
    display: flex;
    /* display: inline-flex; */
  
    flex-direction: row;
    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-flow: column wrap; */ 
  
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;  */
  
    align-items: flex-start;
    /* align-items: flex-end;
    align-items: center;
    align-items: stretch;
    align-items: baseline; */
  
    /* align-content: flex-start; */
    /* align-content: flex-start; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
    
  }
  
  .item{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    border: solid 1px gray;
  }
  
  .item:hover{
    background: rgba(109, 130, 143, 0.656);
  }
  
  
  .contenedor2{
    max-width: 1200px;
    height: 100vh;
    border: solid 1px whitesmoke;
    margin: 0 auto;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .item2{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .contenedor .item:nth-child(3){
    background-color: slateblue;
    order: -1;
  }

  @media (max-width:600px){
    .contenedor{
        background-color: #07fa3b;
    }
    .contenedor .item:nth-child(3){
        background-color: rgb(255, 123, 0);
        order: 1;
      }
    
  }