@import url(style0.css);

.grid_maximo_minimo{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 300px));
    grid-template-columns: repeat(4, minmax(min-content));
    grid-template-columns: repeat(4, minmax(max-content));
}